name: stable-windows

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:

env:
  APP_NAME: Neko
  BINARY_NAME: neko
  OS_NAME: windows
  VSCODE_QUALITY: stable

jobs:
  compile:
    runs-on: ubuntu-22.04
    env:
      VSCODE_ARCH: x64
    outputs:
      MS_COMMIT: ${{ steps.export.outputs.MS_COMMIT }}
      MS_TAG: ${{ steps.export.outputs.MS_TAG }}
      RELEASE_VERSION: ${{ steps.export.outputs.RELEASE_VERSION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq libxkbfile-dev pkg-config libsecret-1-dev libkrb5-dev imagemagick

      - name: Clone VSCode
        run: . get_repo.sh

      - name: Build
        run: ./build.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOULD_BUILD: 'yes'
          CI_BUILD: 'yes'

      - name: Export outputs
        id: export
        run: |
          echo "MS_COMMIT=${MS_COMMIT}" >> $GITHUB_OUTPUT
          echo "MS_TAG=${MS_TAG}" >> $GITHUB_OUTPUT
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_OUTPUT

      - name: Compress vscode artifact
        run: |
          find vscode -type f -not -path "*/node_modules/*" -not -path "vscode/.build/node/*" -not -path "vscode/.git/*" > vscode.txt
          echo "vscode/.build/extensions/node_modules" >> vscode.txt
          echo "vscode/.git" >> vscode.txt
          tar -czf vscode.tar.gz -T vscode.txt

      - name: Upload vscode artifact
        uses: actions/upload-artifact@v4
        with:
          name: vscode
          path: ./vscode.tar.gz
          retention-days: 1

  build:
    needs: compile
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        include:
          - vscode_arch: x64
            npm_arch: x64
    defaults:
      run:
        shell: bash
    env:
      MS_COMMIT: ${{ needs.compile.outputs.MS_COMMIT }}
      MS_TAG: ${{ needs.compile.outputs.MS_TAG }}
      RELEASE_VERSION: ${{ needs.compile.outputs.RELEASE_VERSION }}
      VSCODE_ARCH: ${{ matrix.vscode_arch }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Download vscode artifact
        uses: actions/download-artifact@v4
        with:
          name: vscode

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          npm_config_arch: ${{ matrix.npm_arch }}
          npm_config_target_arch: ${{ matrix.npm_arch }}
          CI_BUILD: 'yes'
          SHOULD_BUILD_REH: 'no'
          SHOULD_BUILD_REH_WEB: 'no'
        run: ./build/windows/package.sh

      - name: Prepare assets
        env:
          SHOULD_BUILD_MSI: 'no'
          SHOULD_BUILD_MSI_NOUP: 'no'
        run: ./prepare_assets.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: neko-windows-${{ matrix.vscode_arch }}
          path: assets/*
          if-no-files-found: ignore
          retention-days: 7

